@model Movies.Models.Movie

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Movie details</h4>
    <hr />
    <p><strong>Title</strong></p>
    <p>@Html.DisplayFor(model => model.movieTitle)</p>
    <p><strong>Year</strong></p>
    <p>@Html.DisplayFor(model => model.releaseYear)</p>
    <p><strong>Director</strong></p>
    <p>@Html.DisplayFor(model => model.director)</p>
    <p><strong>Writers</strong></p>
    <p>@Html.DisplayFor(model => model.writers)</p>
    <p><strong>Stars</strong></p>
    <p>@Html.DisplayFor(model => model.stars)</p>
    <p><strong>Story</strong></p>
    <p>@Html.DisplayFor(model => model.story)</p>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model._id }) |
        <a asp-action="Index">Back to List</a>
</div>
