@model IEnumerable<Movies.Models.Movie>

@{
    ViewData["Title"] = "Enjoy Movies";
}

<h1>Movies</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.movieTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.releaseYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.director)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.writers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stars)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.story)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.movieTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.releaseYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.director)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.writers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stars)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.story)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item._id }) |
                @Html.ActionLink("Details", "Details", new { id=item._id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item._id })
            </td>
        </tr>
}
    </tbody>
</table>
