@model IEnumerable<Movies.Models.Movie>

@{
    ViewData["Title"] = "Movie List";
}

<h1>Movies</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Year
            </th>
            <th>
                Director
            </th>
            <th>
                Writers
            </th>
            <th>
                Stars
            </th>
            <th>
                Story
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.movieTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.releaseYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.director)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.writers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stars)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.story)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item._id })
                <br />
                @Html.ActionLink("Details", "Details", new { id=item._id })
                <br />
                @Html.ActionLink("Delete", "Delete", new { id=item._id })
            </td>
        </tr>
}
    </tbody>
</table>
